body {
    padding-top: 50px;
}
.app_container {
	width: 100%;
}
.pro img {
	height: 210px;
	width: 250px;
	float: left;
	border: 5px solid #f1eeee;
	border-radius: 5px;
}
.info {
	border: 1px solid #c3c3c3;
	border-radius: 5px;
	float: left;
	width: 50%;
	margin-left: 50px;
}
.info .name_info {
	background-color: #e0e0e0;
	color: #000;
	padding: 10px 0 10px 0;
	width: 100%;
	padding-left: 10px;
	border-bottom: 1px solid #c3c3c3;
}
.info .details {
	width: 95%;
	color: #000;
	padding: 15px 0 15px 0;
	margin-left: 10px;
	border-bottom: 1px solid #c3c3c3;
}
.info .details ul {
	padding: 0;
}
.info .details ul li {
	list-style: none;
	padding: 3px;
}
.app_none {
	border-bottom: 0!important;
}
